{{#ui-dropdown class="selection" selected=this.searchType onChange=(action this.setActiveRoleByName)}}
  <div class="default text">{{this.activeRole.name}}</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    {{#each this.roles as |role|}}
      <div data-value={{this.role.name}} class="item">{{this.role.name}}</div>
    {{/each}}
  </div>
{{/ui-dropdown}}
