<div class="ui search">
  <form class="ui icon input" onSubmit={{this.search}}>
    {{input class="prompt" placeholder="Search documents..." value=this.value}}
    <i class="search icon"></i>
  </form>
</div>
