h1.ui.main.header.face-background {
    margin-top: 2em;
    margin-bottom: 1em;
}

h1.ui.main.header.face-background > h1 {
    font-size: 3em;
}

.face-background {
    position: relative;
}

.faces {
    display: flex;
    height: 5em;
}

.faces > img {
    height: 5em;
    flex: 1;
    transition: all 0.3s ease-in;
    filter: brightness(1) grayscale(0.3);
}

.faces > img.unselected {
    filter: brightness(0.5) grayscale(1);
    transition: all 0.5s ease-out;
}

.face-background > h1 {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.8); 
}
