<h1>Let there be search</h1>
<SearchInput @onSearch={{this.search.update}} />

<div class="search-results">
  We found {{this.search.results.length}} results.

  {{#each this.search.results as |result|}}
    <div class="ui segment">
      <h5 class="ui small header">{{result.attributes.title}}</h5>
      <p>{{result.attributes.description}}</p>
    </div>
  {{/each}}
</div>
