<h1>Let there be search</h1>
<SearchInput @onSearch={{this.search.update}} />

<div class="search-results">
  We found {{this.search.resultCount}} results.

  {{#animated-container}}
    {{#animated-each this.search.results key="id" use=this.transition as |result|}}
      <div class="ui segment">
        <h5 class="ui small header">{{result.attributes.title}}</h5>
        <p>{{result.attributes.description}}</p>
      </div>
    {{/animated-each}}
  {{/animated-container}}
</div>
